body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1e293b;
  color: white;
}

/* MAIN */
.main {
  flex: 1;
}

.topbar {
  background: #020617;
  padding: 15px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* PAGE */
.page {
  padding: 20px;
}

/* FORM */
input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: linear-gradient(45deg,#3b82f6,#8b5cf6);
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #333;
}
