body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: linear-gradient(45deg, #3b82f6, #8b5cf6);
  border: none;
  color: white;
  border-radius: 8px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

.page {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
}

/* INPUT */
input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}
